In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("syditriage.csv")
df

,sym,symptom,dis,disease,dg,v-shaped
0,1043,Holoprosencephaly,1,Del (2) (p22-p21),0,-5000015
1,21,Cleft palate,1,Del (2) (p22-p21),0,-5000015
2,2960,Failed corpus callosum development,1,Del (2) (p22-p21),0,-5000015
3,77,Cleft lips,1,Del (2) (p22-p21),0,-5000015
4,906,Kidney anomalies,1,Del (2) (p22-p21),0,-5000015
...,...,...,...,...,...,...
200864,669,Increased sweating,20150,Hypersecretion of growth hormone,1,-44
200865,881,Menstrual irregularities,20150,Hypersecretion of growth hormone,1,-44
200866,886,Enlarged kidneys,20150,Hypersecretion of growth hormone,1,-44
200867,9098,Bone overgrowth,20150,Hypersecretion of growth hormone,1,-44
200868,9134,Enlarged lips,20150,Hypersecretion of growth hormone,1,-44

In [4]:
df.describe()

                 sym            dis             dg      v-shaped
count  200869.000000  200869.000000  200869.000000  2.008690e+05
mean     4932.115588   13178.441666       0.859605 -3.494851e+05
std      9100.325529    5425.888013       0.347397  9.247968e+05
min         1.000000       1.000000       0.000000 -1.299994e+07
25%       101.000000    9703.000000       1.000000 -4.800000e+01
50%       721.000000   14679.000000       1.000000 -9.000000e+00
75%      4389.000000   17428.000000       1.000000  2.700000e+01
max     40280.000000   20150.000000       1.000000  4.833100e+04

In [5]:
len(df['disease'].unique())

18944

In [6]:
df['disease'].isnull().sum()

0

In [1]:
df['disease'].unique()

NameError: name 'df' is not defined